:root {
  --accent-color: #23b0ff;
  --foreground: #90C7FF;
  --background: #121920;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  color: var(--foreground);
  background-color: var(--background);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
  line-height: 1.5em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  align: center;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--background);
  background-color: var(--accent-color);
  cursor: pointer;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::-moz-selection {
  background: #FF7424;
  color: #000;
}

::selection {
  background: #FF7424;
  color: #000;
}

a::-moz-selection {
  background: #FF7424;
  color: #0645ad;
}

a::selection {
  background: #FF7424;
  color: #0645ad;
}

p {
  font-size: 1.1em;
  letter-spacing: 0.01em;
  word-spacing: -0.2em;
  margin: 1em 0;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 2px solid #333;
  align: center;
  filter: brightness(90%);
}

.main,
h1,
h2,
h5,
h6 {
  font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
  color: var(--accent-color);
  line-height: 1em;
}

h1 > a {
  all: unset;
  color: inherit;
}

h1::before {
  content: "# ";
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  /* border-bottom: 1px solid #282828; */
}

h2 {
  font-size: 1.4em;
  padding-top: 1em;
  padding-bottom: 0.3em;
  /* border-bottom: 1px solid #282828; */
}

h3 {
  font-size: 1.3em;
  padding-top: 1em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  color: #ffa64d;
  border-left: 3px solid #ffa64d;
  padding-left: 20px;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

/* code { */
/*   white-space: pre !important; */
/*   border-radius: 5px; */
/*   padding: 4px; */
/* } */

/* .sourceCode { */
/*   font-size: 0.99em; */
/*   margin-top: 2em; */
/*   margin-bottom: 2em; */
/* } */

/* .sourceCode > code { */
/*   padding: 0; */
/* } */

/* .sourceCode pre { */
/*   padding: 20px 20px 20px 20px; */
/* } */

pre {
  word-wrap: break-word;
  padding: 10px 15px;
  border-radius: 0px;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
    margin-left: 0%;
    max-width: 100%;
  }

  label {
    display: none;
    visibility: hidden;
  }

}

nav {
  top: 0;
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.95em;
}

.main {
  text-align: center;
  font-weight: bold;

  font-size: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;

  /* transition: all 3 ease-in-out; */
}

.date {
  color: #ACD5FF;
}

/* .main:hover { */
/*   transform: scale(1.3); */
/* } */
